.about-section {
	display: flex;
	justify-content: center; /* Center horizontally */
	align-items: center; /* Center vertically */
	padding: 60px;
	height: 700px;
}
.about-text {
	max-width: 100%;
	overflow: hidden;
	color: #f8f7f4;
}
.only-about-text {
	text-align: left;
	margin-top: 20px;
	margin-bottom: 20px;
}
.title-about {
	padding: 10px;
}
.about-text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.about-text button {
	align-self: flex-start;
	margin-top: 30px;
	margin-bottom: 30px;
}
.title-about {
	text-align: left;
	text-transform: uppercase;
	font-size: 20px;
	font-style: normal;
	font-weight: 800;
	padding-left: 0px;
}
