.main-contact {
	justify-content: center; /* Center horizontally */
	align-items: center;
	/* margin-top: 50px; */
	/* margin-bottom: 50px; */
	height: 700px;
	display: flex;
}

.contact-box {
	background-color: #f8f7f4;
	max-width: 1000px; /* Use max-width instead of fixed width */
	width: 100%; /* Ensure responsiveness */
	height: 600px;
	border-radius: 5px;
	margin-bottom: 90px;
}

.first-text {
	text-align: left;
	margin: 15px 15px 15px 35px;
}
.vertical-line {
	border-bottom: 2px solid #7158e2;
	width: 50%;
}
.contact-text {
	color: #000;
	margin-bottom: 60px;
	font-size: 50px;
	font-style: normal;
	font-weight: 800;
	line-height: 107.523%;
}
.contact-small-text {
	color: #000;
	margin-top: 60px;
	font-size: 18px;
	font-style: normal;
	font-weight: 300;
	line-height: 107.523%; /* 29.031px */
}
.contact-content {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%; /* Ensure full height */
}
.whole-form {
	margin-right: 35px;
}
.form-button {
	margin-top: 30px;
}
.form-group {
	text-align: left;
}
/* mobile */
@media (max-width: 768px) {
	.contact-text {
		margin-bottom: 10px;
		font-size: 25px;
		font-style: normal;
		font-weight: 700;
	
	}
	.first-text {
		text-align: left;
		margin: 5px 5px 5px 5px;
	}
	.contact-box {
	
		height: auto; /* Adjust height for mobile screens */
		padding:20px
		
	}
	.contact-small-text {
		
		margin-top: 10px;
		font-size: 15px;

	}
}
/* tablet */
@media (min-width: 769px) and (max-width: 1024px) {
	.contact-text {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center; /* Center text within contact box */
	}
	.first-text {
		/* text-align: center; */
		margin: 5px 5px 5px 5px;
	}
	.contact-box {
	
		height: auto; /* Adjust height for mobile screens */
		padding:30px
		
	}
	.contact-small-text {
		
		margin-top: 10px;
		font-size: 15px;

	}
	.form-group {
		text-align: center; /* Center text in form group for tablet */
	  }
	  .whole-form {
		margin: 0 auto; /* Center the form horizontally within the contact box */
	  }
	
}
