.main-box {
	background-color: #233449;
}

.footer-row {
	width: 1300px;
	padding-top: 40px;
	padding-bottom: 40px;
}
.logo-text {
	text-align: left;
}
.copyright-text {
	font-size: 10px;
	color: grey;
}
.title-text-foot{
	font-weight: 800;
}
.fa-soundcloud:hover {
	cursor: pointer;
	color: #f0ebd8;
}
.fa-soundcloud{
	color:white;
}
.bi{
	color:white;
}
.management-email{
color:white;
}

.active{
	text-decoration: none;
}
/* mobile */
@media (max-width: 768px) {
	.logo-text {
		text-align: center;
	}
	.title-text-foot{
		font-weight: 800;
		margin-top: 10px;
	}
}

